<nav class="navbar navbar-light">
      <div class="container">
            <a class="navbar-brand mb-0 h1" [routerLink]="['/']">Search</a>
            <ul class="navbar-nav float-none">
                  <li class="nav-item">
                        <a href="#" [routerLink]="['/']" routerLinkActive="router-link-active">User Profile</a>
                  </li>
                  <li class="nav-item">
                        <a href="#" [routerLink]="['/user-repo']" routerLinkActive="router-link-active">User Repo</a>
                  </li>
            </ul>
      </div>
</nav>

